
/*header*/
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

    margin-bottom: 20px;
    /*font-size: 16px;*/

    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.11);

    transition: padding .5s ease;
}

.navbar {
    margin-bottom: 0;

    border: none;
}

.navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar .navbar-brand {
    padding: 0;
}

.navbar .navbar-nav ul {
    margin: 0;
    padding-top: 0;
    padding-left: 0;

    list-style: none;
}

.navbar .navbar-nav > li > a {
    display: inline-block;

    padding: 15px;

    line-height: 20px;

    color: #555;
    border-radius: 5px;
}

.navbar .navbar-nav li a:focus,
.navbar .navbar-nav li a:hover {
    color: #fff;
    outline: none;
    background-color: #555;

    text-decoration: none;
}

.dropdown-menu > li > a {
    padding: 6px 20px;
}

@media (min-width:768px) {
    .navbar .navbar-nav > li > a {
        padding: 10px;
    }

    /*when scrolling down the page logo size and navbar height reduced*/
    .navbar {
        padding: 30px 0;

        transition: padding .5s ease;
    }
    .navbar-header {
        position: absolute;
        top: 8px;

        transition: all .5s ease;
    }
    .navbar-brand > img {
        height: 90px;

        transition: all .5s ease;
    }
    .navbar-collapse.collapse {
        padding-left: 240px;

        transition: all .5s ease;
    }

    .header.fix .navbar {
        padding: 15px 0;
    }
    .header.fix .navbar-header {
        top: 3px;

        overflow: hidden;
    }
    .header.fix .navbar-brand > img {
        height: 80px;
    }
    .header.fix .navbar-collapse.collapse {
        padding-left: 210px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1010px;
    }
}
