/**
 * Reset BS3's style
 */
.modal-open .modal{
    overflow: hidden;
}
.modal-heading .close{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
}
.modal-heading .nav-tabs{
    background: #f4f4f4;
}
.modal-heading .nav-tabs>li{
    border-right: 1px solid #ddd;
}
.modal-heading .nav-tabs>li>a{
    padding: 14px 15px;
    margin-right: 0;
    border-radius: 0;
    border: none!important;
    color: #555;
    font-weight: 700;
}

.table>thead>tr>th{
    background: #767676;
    color: #fff;
    border: none;
    text-align: center;
}
.table>tbody>tr>td{
    border: none;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

textarea.form-control{
    min-height: 100px;
}


/**
 * common style
 */
.ui-sortable-handle, .item-row{
    cursor: move;
}
.quote-header{
    border-bottom: 5px solid #767676;
}
.quote-form{
    padding: 20px 0;
}
.quote-builder{
    
}
.quote-footer{
    text-align: center;
}

#items .operations{
    vertical-align: middle;
}
#items .operations .glyphicon{
    color: #767676;
}
#items .operations .glyphicon:hover{
    color: #333;
    text-decoration: none;
}